  const app2 = Vue.createApp({
   data() {
    return {
      manyFoods: [
        'https://www.w3schools.com/vue/img_mango.svg',
        'https://www.w3schools.com/vue/img_melon.svg',
        'https://www.w3schools.com/vue/img_fish.svg',
        'https://www.w3schools.com/vue/img_grapes.svg',
        'https://www.w3schools.com/vue/img_pizza.svg',
        'https://www.w3schools.com/vue/img_cake.svg',
        'https://www.w3schools.com/vue/img_banana.svg'
      ]
    }
   }
  })
  
  app2.mount('#app2')

